.buttonComponent {
  background-color: var(--backgroundDark);
  color: var(--text);
  width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border: 2px solid var(--text);
  font-size: 1.2rem;
}

.buttonComponent.activeButton {
  background-color: #023f31;
}

.buttonComponent.addTaskButton {
  background-color: var(--buttonPrimary);
  color: var(--backgroundDark);
}

.buttonComponent.closeModalButton {
  background-color: transparent;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid var(--text);
}

.buttonComponent.submitFromModalButton {
  color: var(--backgroundDark);
  background-color: var(--buttonPrimary);
  font-size: 18px;
  padding: 0.6rem 2.3rem;
  font-weight: 900;
}
