nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background);
  color: var(--text);
  height: 80px;
  padding-inline: 24px;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 6px;
  /* width: 25%; */
  font-size: 0.8rem;
}

nav a.active {
  text-decoration: underline;
  color: var(--textDark);
}
