.taskList {
  background-color: var(--background);
  padding: 8px 10px;
  border-radius: 0 0 14px 14px;
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 24px;
}

.taskList ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.taskList ul li {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  width: 100%;
}
.taskList ul li div {
  text-align: end;
}
/* .taskList ul li {
  text-align: end;
  width: 80%;
} */
